<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #21012c">
  <div class="container-fluid">
      <a style="display: flex; align-items: center; margin-left: 15px" class="navbar-brand" routerLink="/">
        <img style="height: 35px; margin-right: 8px" src="assets/logos/logo_light.png" alt="">
        QuantEd</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/browse/courses" routerLinkActive="active">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my/courses" routerLinkActive="active">My courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
        </ul>
      </div>
    <div class="align-self-end align-self-center">
      <button [value]="cred" type="button" class="btn btn-outline-light" routerLink="/profile/account">
        <i *ngIf="cred === 'Log in' || cred === undefined" class="bi bi-person-fill-add"></i>
        <i *ngIf="cred !== 'Log in' && cred !== undefined" class="bi bi-person-fill-check"></i>
        &nbsp;{{cred}}
      </button>
    </div>
  </div>
</nav>
