<div class="container-fluid" style="
height: 650px;
padding-top: 50px;
background-image: url('assets/login/bg-light-black.png');
background-repeat: no-repeat;
background-size: 58%;
background-color: #d490ff;">
  <div class="d-flex flex-row">

  </div>
  <div style="display: flex; justify-content: space-between; padding: 0px 120px 0px 100px">
    <div style="display: flex; align-items: center">
      <img src="../../../../assets/logos/logo_light_text.png" style="height: 200px" alt="">
      <h2 style="color: white">
        Start learning with
        <div class="d-flex flex-row">
          <div class="me-2" style="color: #b442ba">QuantEd</div>now!
        </div>
      </h2>
    </div>
    <form [formGroup]="loginForm" class="log-in-form">
      <h3 class="text-primary" style="text-align: center">Log in</h3>
      <label for="exampleInputEmail1" class="form-label mt-4 text-primary">Email address</label>
      <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
      <label for="exampleInputPassword1" class="form-label mt-4 text-primary">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" formControlName="password">
      <div style="width: 100%; text-align: center;  ">
        <a type="submit" (click)="onLoginClick()" class="log-in-btn btn btn-primary" style="font-size: 22px; padding: 7px 22px; margin-top: 25px">Log in</a><br>

        <a class="btn-google btn btn-outline-primary" style="font-size: 22px; padding: 7px 18px; margin-top: 15px" routerLink="/sign-up">
          <img src="../../../../assets/login/brands/google-logo.png" alt="" style="height: 25px; margin-right: 12px">
          Log in with Google</a>
        <hr class="mt-5"/>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-row">
            <div class="text-secondary me-2">Don't have an account yet?</div>
            <a routerLink="/sign-up">Register</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
