input.ng-invalid.ng-touched {
  border: red 1px solid;
}


.log-in-btn {
  background: linear-gradient(to right, #412961, #812d86);
}

.log-in-form{
  width: 30%;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 12px #412961;
}

.btn-google{
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
  border-radius: 5px;
}
