<div style="height: fit-content; width: 100%;">
  <div style="display: flex; flex-direction: row">
    <div class="div-image1">
      <h5 style="color: white; text-align: justify">Join our course platform and become a registered listener today! Gain access to a wide range of courses and learn from top industry experts. Whether you're looking to upskill, expand your knowledge or explore new interests, our platform has something for you. Sign up now and start your learning journey today!</h5>
      <a routerLink="listener" class="a-register"> Register as listener</a>
    </div>
    <div class="div-image2">
      <h5 style="color: white; text-align: justify">Are you an experienced professional looking to share your expertise with others? Our course platform is the perfect place for you to connect with a global audience and inspire students from all walks of life. Join our community of educators today and start making an impact with your knowledge!</h5>
      <a routerLink="lecturer" class="a-register"> Register as lecturer</a><br>
    </div>
  </div>
</div>
