<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 600px">
  <div class="d-flex flex-row">
    <div class="flex-column">
      <div style="width:200px; height: 200px">
        <img src="../../../assets/not-found/not-found-left.png" style="height: 100%; width: 100%; object-fit: fill"/>
      </div>
    </div>
    <div class="flex-column ms-4 me-4">
      <div class="text-center">
        <h2>404 Page Not Found</h2>
        <h3 class="mt-5">Ooops...</h3>
      </div>
      <h5>Seems like the page you have been looking for doesn't exist!</h5>
      <div class="d-flex flex-row justify-content-center mt-3">
        <button class="btn btn-primary me-3" routerLink="/home">Home</button>
        <button class="btn btn-secondary">Help</button>
      </div>
    </div>
    <div class="flex-column">
      <div style="width:250px; height: 200px">
        <img src="../../../assets/not-found/not-found-right.png" style="height: 100%; width: 100%; object-fit: fill"/>
      </div>
    </div>
  </div>
</div>
