<div style="height: 700px; width: 100%; padding: 50px; margin: auto; background: url('https://rare-gallery.com/mocahbig/1375155-macos-purple-abstract-background-4k-pc-wallpaper.jpg') no-repeat; background-size: cover;">
  <div class="div-certificate">
    <div style="width: 60%" class="div-info">
      <h1>{{certificate?.subscription?.course?.lecturer?.organization?.name}}</h1>
      <h6>{{date}}</h6>
      <h3>{{certificate?.subscription?.listener?.firstName}} {{certificate?.subscription?.listener?.lastName}}</h3>
      <h6>Listener completed the course</h6>
      <h4>{{certificate?.subscription?.course?.name}}</h4>
      <h5>With mark&nbsp;&nbsp;<i style="text-decoration: underline;">{{certificate?.mark}}/100</i></h5>
      <h5 style="margin-top: 120px;">Lecturer of the course: <i style="text-decoration: underline;">{{certificate?.subscription?.course?.lecturer?.firstName}} {{certificate?.subscription?.course?.lecturer?.lastName}}</i></h5>
    </div>
    <div style="width: 40%" class="div-flag">
      <h5>COURSE<br>CERTIFICATE</h5>
      <img src="assets/logos/logo_light_text.png" alt="" style="width: 70%; margin-top: 70px; margin-left: 5px">
    </div>
  </div>
</div>
