.title {
  background: linear-gradient(to right, #412961, #812d86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sign-up-btn {
  background: linear-gradient(to right, #412961, #812d86);
  box-shadow: 0px 0px 10px 5px #fbb5ff;
}

.home-bg {
  background-color: #2c3e50;
}
