<div style="padding: 15px; width: 300px; margin-right: 5%; border: 1px solid #2D033B; background-color: #ffffff38; border-radius: 10px;">
  <a href="#" style="text-decoration: none; width: 100%">
    <div style="background: linear-gradient(to left, #a10dd3, #dd6cff, #ffadfc); display: flex; flex-wrap: nowrap; align-items: center; border-radius: 7px; border: 1px solid #2D033B; width: 100%; padding: 8px; padding-top: 15px; color: #2D033B; margin-bottom: 15px;">
      <h3 style="margin-left: 15px; width: 12%">1</h3>
      <h6>Introduction to C#</h6>
    </div>
  </a>
  <a href="#" style="text-decoration: none; width: 100%">
    <div style="background-color: #590874; display: flex; flex-wrap: nowrap; align-items: center; border-radius: 7px; border: 1px solid #2D033B; width: 100%; padding: 8px; padding-top: 15px; color: white; margin-bottom: 15px;">
      <h3 style="margin-left: 15px; width: 12%">2</h3>
      <h6>Introduction to SQL</h6>
    </div>
  </a>
  <a href="#" style="text-decoration: none; width: 100%">
    <div style="background-color: #590874; display: flex; flex-wrap: nowrap; align-items: center; border-radius: 7px; border: 1px solid #2D033B; width: 100%; padding: 8px; padding-top: 15px; color: white; margin-bottom: 15px;">
      <h3 style="margin-left: 15px; width: 12%">3</h3>
      <h6>Introduction to ASP.NET</h6>
    </div>
  </a>
</div>
