<div style="display: flex; flex-wrap: wrap; justify-content: center; height: fit-content; width: 100%; padding: 50px; margin: auto; background: url('https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80') no-repeat; background-size: cover;">

  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

    <h1 style="text-align: center; color: white">Step 1: Course info</h1>

    <br>
    <br>

    <div class="main-form">
<!--      <h3 class="text-primary">Course info</h3>-->

      <table style="width: 100%">
        <tr>
          <td style="width: 45%">
            <label for="name" class="form-label mt-4 text-primary">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" formControlName="name">
          </td>
          <td rowspan="3" style="width: 10%"></td>
          <td>
            <label for="topic" class="form-label mt-4 text-primary">Topic</label>
            <select class="form-select" id="topic" formControlName="topic">
              <option>Topics</option>
              <option *ngFor="let topic of topics">{{topic}}</option>
            </select>
          </td>
        </tr>

        <tr>
          <td rowspan="2">
            <label for="description" class="form-label mt-4 text-primary">Description</label>
            <textarea type="text" rows="5" class="form-control" id="description" aria-describedby="emailHelp" placeholder="Enter description" formControlName="description"></textarea>
          </td>
          <td>
            <label for="difficulty" class="form-label mt-4 text-primary">Difficulty</label>
            <select class="form-select" id="difficulty" formControlName="difficulty">
              <option>Difficulties</option>
              <option *ngFor="let difficulty of difficulties">{{difficulty}}</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>
            <label for="price" class="form-label mt-4 text-primary">Price (USD)</label>
            <input type="number" step="0.01" min="0" max="200" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Enter price" formControlName="price">
          </td>
        </tr>
      </table>
    </div>

<!--    <div formArrayName="modules">-->
<!--      <div *ngFor="let moduleGroup of moduleGroups.controls; let i = index" [formGroupName]="i">-->

<!--        <div class="module-form">-->
<!--          <table style="width: 100%;">-->
<!--            <tr>-->
<!--              <td rowspan="3" style="width: 5%; padding-top: 22px"><h3 class="text-primary">&nbsp;{{ i + 1 }}</h3></td>-->
<!--              <td style="width: 20%">-->
<!--                <label for="moduleName" class="form-label mt-4 text-primary">Module name</label>-->
<!--                <input type="text" class="form-control" id="moduleName" aria-describedby="emailHelp" placeholder="Enter name" formControlName="name">-->
<!--              </td>-->
<!--              <td rowspan="3" style="width: 20%">-->
<!--                <label for="moduleDescription" class="form-label mt-4 text-primary">Description:</label>-->
<!--                <textarea id="moduleDescription" class="form-control" formControlName="description" rows="5"></textarea>-->
<!--              </td>-->
<!--              <td rowspan="3" style="padding-top: 30px">-->
<!--                <div class="files-div">-->
<!--                  <div class="file-div">-->
<!--                    <h6 style="font-size: 10px;">filename.pdf</h6>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td style="width: 20%; text-align: left; padding-top: 30px">-->
<!--                <a class="btn btn-light" style="font-size: 18px; padding: 7px 0px; width: 135px"><i class="bi bi-filetype-pdf"></i>&nbsp;&nbsp;Load files</a>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td rowspan="2" style="padding-top: 0px">-->
<!--                <label for="estimate" class="form-label mt-4 text-primary">Estimate</label>-->
<!--                <input type="number" class="form-control" id="estimate" aria-describedby="emailHelp" placeholder="Enter estimate" formControlName="estimate">-->
<!--              </td>-->
<!--              <td rowspan="2" style="text-align: right; vertical-align: bottom">-->
<!--                <button class="btn btn-danger" type="button" (click)="removeModule(i)"><i class="bi bi-trash"></i> Remove Module</button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td></td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div style="width: 100%; display: flex; justify-content: right">-->
<!--      <table class="manage-modules">-->
<!--        <tr>-->
<!--          <td style="width: fit-content; text-align: right">-->
<!--            <button type="button" class="btn btn-primary" style="font-size: 22px; padding: 7px 22px; width: 200px" (click)="addModule()"><i class="bi bi-plus-square"></i>&nbsp;&nbsp;Add module</button>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </div>-->

    <div style="width: 100%; text-align: center">
      <button type="submit" class="btn btn-success main-btn fw-bold" style="
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px 50px">Next step
      </button>
    </div>
  </form>
</div>
